body {
	background: url("../img/broken_noise.png") #FF938F;

}

h1 {
	font-family: "Lato", sans-serif;
	color: #FF3355;
	font-weight: 100;
	font-size: 58px;
	padding: 10px;
	margin: 10px;
	width: 500px;
}

h2 {
	font-family: "Quicksand";
	font-size: 32px;
	font-weight: 300;
	color: #FF7588;
	padding: 10px;
	margin: 10px;
}

h3 {
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
	color: white;
	font-weight: 100;
	padding: 10px;
	margin: 10px;
}

p {
	font-family: "Roboto";
	font-size: 15px;
	font-weight: 100;
	color: #CCCCCC;
	padding: 10px;
	margin: 10px;
}

.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

#subhead {
	font-size: 24px;
	color: white;
}

.container {
	width: 1000px;
	margin: auto;
}
