body {
	background: url("../img/white_texture.png");

}

h1 {
	font-family: "Lato", sans-serif;
	color: #CC952E;
	font-weight: 300;
	font-size: 60px;
	padding: 10px;
	margin: 10px;
	width: 500px;
}

h2 {
	font-family: "Quicksand";
	font-size: 35px;
	font-weight: 300;
	color: #CC952E;
	padding: 10px;
	margin: 10px;
}

h3 {
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
	color: white;
	font-weight: 100;
	padding: 10px;
	margin: 10px;
}

p {
	font-family: "Roboto";
	font-size: 13px;
	font-weight: 300;
	color: #707070;
	padding: 10px;
	margin: 10px;
}

#profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	width: 40%;
}

.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

#subhead {
	font-size: 24px;
	color: white;
}

.container {
	width: 1000px;
	margin: auto;
}
